{% extends "template.html" %}

{% block conteudo %}


                <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            O Que é Taxa Selic, como Ela Influencia os Investimentos
                                        </button>
                                    </h2>
                                    </div>
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                    É extremamente importante entender o que é a taxa Selic e qual o impacto dela na sua vida financeira.
                                    O índice influencia o comportamento de outros indexadores como, o IPCA e o CDI.
                                    Diante da sua importância na economia, é extremamente importante conhecê-la. Saber como utilizá-la pode significar ganhar mais dinheiro. 
                                    No dia 18 de agosto de 2019, o Comitê de Política Monetária (Copom) cortou a taxa Selic pela segunda vez em 17 meses, de 6,0% para 5,5%. 
                                    Esse é o menor resultado desde sua criação, em 1986.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                O que é Renda Variavel
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                A renda variável consiste na compra de parte de um negócio, como uma empresa ou empreendimento imobiliário. 
                                Diariamente, as suas cotações são precificadas segundo as expectativas dos investidores em relação ao mercado 
                                interno, externo e área de atuação.
                                Assim, os ativos de renda variável não possuem previsibilidade nos rendimentos.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                O que é renda Fixa
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body"> 
                                Os investimentos de renda fixa funcionam como um empréstimo do seu dinheiro ao emissor, como bancos,
                                empresas ou o governo. No momento da compra, a taxa de rentabilidade pode ser definida, por exemplo, 
                                110% do CDI ou 9% ao ano. Por isso, a renda fixa é nomeada desta forma, por oferecer rendimentos previsíveis aos seus 
                                investidores.
                            </div>
                          </div>
                        </div>
                      </div>
                
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../static/img/05.jpeg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/img/02.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/img/03.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/img/04.png" class="d-block w-100" alt="...">
                          </div> 
                          <div class="carousel-item">
                            <img src="../static/img/05.jpeg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                      </div>
           

{% endblock %}




