{% extends "template.html" %}

{% block conteudo %}
    
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <h1> Saiba mais</h1>
</div>
<div class="container">
        <div class="row">
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                        <img src="../static/img/01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">O que é LCI e Como Funciona?</h5>
                          <p class="card-text">A LCI é a Letra de Crédito Imobiliário. 
                              Ela é um investimento de renda fixa emitido pelos bancos. 
                              Os recursos captados pelo emissor são utilizados para o financiamento
                             das atividades do setor imobiliário. Em troca, ele oferece uma taxa de 
                             rentabilidade anual, que é definida no momento da compra. 
                                A LCI também possui uma data de vencimento estabelecida. Assim, ao investir
                            nesse ativo, você já tem uma ideia de quanto o seu dinheiro irá render até o final do prazo. </p>
                        </div>
                    </div>
          </div>
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                        <img src="../static/img/03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">E o Que é LCA e Como Funciona? </h5>
                          <p class="card-text">A LCA é a Letra de Crédito do Agronegócio. Ela também é um título renda
                               fixa emitido pelos bancos. A diferença para a LCI é o foco de investimento. 
                                Neste caso, a captação é direcionada para financiar as atividades do setor do agronegócio. 
                                Assim como para a LCI, a taxa de rentabilidade e a data de vencimento são definidas
                                 no momento da compra.</p>
                        </div>
                    </div>
          </div>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="../static/img/ClaudiaHBSIS.mp4" allowfullscreen></iframe>
    </div>


{% endblock %}